<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Project</title>
    <!-- <link rel="stylesheet" href="/static/css/{{ dark }}.css"> -->
</head>
<body>
    <header>
    </header>
    <main>
        <form method = "post" action = "/loginAttempt">
            <h2>Login</h2>
            <p>Username: <input type="text" name="username"> </p>
            <p>Password: <input type="password" name="password"> </p>
            <button type="submit">Login</button>  
        </form>
    </main>
    <footer>
    </footer>
    <!-- <script src="static/js/script.js"></script> -->
</body>
</html>
